<div class="container p-fixed" style="z-index:3">
  <nav class="navbar p-2 s-rounded shadow bg-primary">
    <section class="navbar-section">
      <!-- <button class="btn btn-action btn-primary s-circle text-gray" id="pixelfont-toggle"><i class="fas fa-robot fa-lg"></i></button> -->
      {{ if not .IsHome }}
        <a class="btn btn-primary" href='{{ .Site.BaseURL }}'>{{ .Site.Params.title }}</a>
      {{ end }}
      {{ if .IsHome }}
        {{ .Site.Params.title }}
      {{ end }}
    </section>
    <section class="navbar-section">
      <!-- {{ if not .IsHome }}
        <a class="btn btn-primary" href='{{ .Site.BaseURL }}'>{{ .Site.Params.home | default "Home" }}</a>
      {{ end }} -->

      {{ range .Site.Menus.main }}
        <a class="btn btn-primary mx-2" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}

      {{ if .Site.Params.enableRSS }}
      <a class="btn btn-accent" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" target="_blank"><i class="fas fa-rss fa-lg"></i></a>
      {{ end }}
    </section>
  </nav>
</div>
